:root {
    /* Azuis */
    --imas-primary-blue: #2E74B9;
    --imas-secundary-blue: #1865B2;
    --imas-therceary-blue: #185ca3;
    --imas-quarternary-blue: #13508f;
    /* Outros */
    --imas-primary-red: #A00C1B;
    --imas-primary-green: #21C49D;
    --imas-primary-pink: #FFA2DF;
}